chris-odrive/
log.csv
Arduino/
Optoforce/
data/raw-opto-log.csv
data/force-animation.mp4
data/increasing-hop-height.png
data/increasing-hop-height.MOV
traj-opt/.ipopt-log.txt
**/.ipynb_checkpoints
**/__pycache__