[submodule "height-estimator/lib/BasicLinearAlgebra"]
	path = height-estimator/lib/BasicLinearAlgebra
	url = https://github.com/tomstewart89/BasicLinearAlgebra
[submodule "typesieve"]
	path = typesieve
	url = https://github.com/alknemeyer/typesieve
[submodule "sensor_logger"]
	path = sensor_logger
	url = https://github.com/African-Robotics-Unit/sensor-logger
